.container {
  margin: 50px 0;
}
.card {
  margin: 0 2% !important;
}
.infected {
  border-bottom: 10px solid rgb(132, 204, 25);
}
.recovered {
  border-bottom: 10px solid rgb(34, 34, 163);
}
.deaths {
  border-bottom: 10px solid rgb(165, 24, 24);
}
